.side-menu {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  background-color: white;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 6px;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease;
  margin-top: 0.2rem;
}
.menu-toggle-btn {
  padding: 0 1rem;
}

/* Animate in from left */
.slide-in {
  opacity: 1;
  transform: translateX(0);
}

/* Animate out to left */
.slide-out {
  opacity: 0;
  transform: translateX(-100%);
}

/* Profile Section */
.profile {
  text-align: center;
  padding: 2rem 1rem;
  background: linear-gradient(to bottom right, #fddf89, #e7b663);
  border-radius: 1rem;
}

.profile h3 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.profile img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 0 0 3px #fff, 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto 1rem auto;
}

.stats {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  font-size: 0.9rem;
  color: #010101;
}

.stats p:first-child {
  border-right: 1px solid #000000;
  padding-right: 1.5rem;
}
.stats p:last-child {
  padding-right: 1.5rem;
}

/* Categories & Search */
.categories-menu {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.search {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.search label {
  font-size: 0.9rem;
  color: #555;
  text-align: left;
}

.search input {
  padding: 0.6rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  font-size: 1rem;
  outline-color: #ff9900;
}
